# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
dist.do
node_modules
.next

# Environment (contains sensitive data)
*.env
Dockerfile
docker

# Misc
.eslintrc.js
.prettierrc
README.md
npm-debug.log
